<html>
  <head lang="en">
  <meta charset="UTF-8">
  <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = 
                    document.getElementById("user_input").value;
        var x = document.getElementById('output');
        if(x.style.display='none'){
          x.style.display='block';
        }
    }
  </script>

  </head>
<body>
  <div id="output" style="display:none">
    <ul>
      <li><span id='display'></li>
    </ul>
  </div>
  <div style="display:none">
    <li>ThisIsATest</li>
  </div>
  <h1>Welcome {{ name }}!</h1>
  <ahref="www.google.com/">not google</a>
  <ul>
    {% for city_name in city_names %}
      <li>{{city_name}}</li>
    {% endfor %}
  </ul>
  <formaction=""method="POST">
    <label>City Name</label><br>
    <input id="user_input" type="text" name="message" maxlength="32"></br>
  </form>
  <input type="submit" onclick="showInput();"><br/>
</body>
</html>
