<html>
<head>
        <title>Flask Project</title>
</head>
<body>
	<li>ThisIsATest</li>
        <h1>Welcome {{ name }}!</h1>
        <ahref="www.google.com">not google</a>
        <ul>
        {% for city_name in city_names %}
                <li>{{city_name}}</li>
        {% endfor %}
        </ul>
	<form>
		<label for="cname">City Name</label><br>
		<input type="text" id="cname" maxlength = "32" name="cname"><br>
		<input type="submit" value="Submit">
		<formaction=""method="POST">
		<inputid="
	</form>
</body>
</html>
